.wrapper {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 700px;
    /* justify-content: center; */
}
.wrapper h1 {
    width: 100%;
    text-align: center;

}
.human-img {
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
    height: 300px;
    position: relative;
    
}
.human-detail {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.big-img {
    width: auto;
    height: 100%;
    
}
.first-name, .last-name {
    display: flex;
    flex-wrap: nowrap;
    width: 220px;
}
.first-name__label, .last-name__label, .calories__label {
    width: 150px;
    text-align: left;
}

.calories {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    width: 220px;
}
.calories__value {
    font-size: 20px;
    font-weight: 600;
    margin-top: -5px;
}
.hungry-msg {
    position: absolute;
    left: -40px;
    background-color: yellow;
    padding: 10px;
    border-radius: 20px;
    color: red;
    font-weight: 700;
    transform: rotate(-30deg);
    box-shadow: 0 0 5px 2px rgb(230, 0, 0);
    display: none;
}
.sleep-for {
    margin-top: 15px;
    width: 200px;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    background-color: gray;
    border-radius: 10px;
    cursor: pointer;
}
.sleep-for:hover {
    background-color: rgb(43, 41, 160);
    color: white;
}
.sleep {
    margin-top: 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    text-align: center;
    font-size: 20px;
}
.sleep-info {
    background-color: tomato;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: inline-block;
    flex-wrap: nowrap;
    width: 200px;
    margin-top: 10px;
    font-size: 25px;
}
.sleep-up {
    float: left;
}
.sleep-time {
    float: right;
}
.sleep-title {
    display: none;
}
.sleep-img {
    position: absolute;
    right: -30px;
    top: -20px;
    width: 100px;
    border-radius: 55px;
}
.message_top {
    
    position: absolute;
    left: -40px;
    background-color: yellow;
    padding: 10px;
    border-radius: 20px;
    color: red;
    font-weight: 700;
    transform: rotate(-30deg);
    box-shadow: 0 0 5px 2px rgb(230, 0, 0);
    z-index: 1000;

}
.feed {
    background-color: tomato;
    padding: 10px;
    border-radius: 5px;
    color: white;
    
    flex-wrap: nowrap;
    width: 200px;
    margin-top: 10px;
    font-size: 25px;
}
.feed-title {
    display: none;
}
.hidden-buttons {
    display: none;
}
.f-title {
    /* display: none; */
}