<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Vladimir Steshenko, Владимир Стешенко, UCode, Sprint06, t07, Java Script, Node.js, Go web!">
    <meta name="author" content="Vladimir Steshenko, Владимир Стешенко">
    <meta name="description" content="UCode It Academy. Sprint06, t07 by Vladimir Steshenko, Go web!">
    <title>t07. Go web! - Compare time</title>
</head>
<body>
<h1>Compare time Now:</h1>
<div>Normal time: <%= normal.now() %></div>
<div>Quantum time: <%= quantum.now() %></div>
<div><a href="/">Back to index</a></div>

</body>
</html>