.japan{
    position: relative;
    border: 4px solid #d6cfd1;
    padding: 35%;


}
.japan:after {
    position: absolute;
    top: calc(50% - 28%);
    left: calc(50% - 20%);
    content: "";
    background-color: #b6072e;
    border-radius: 50%;
    /*border: 50px;*/
    border-color: #bd2929;
    width: 40%;
    height: 58%;
    z-index: 777;
}